{% extends "rmg_base.html" %}
{% block title %}
Mechanism Converter{% if heading %} - {{ heading }}{% endif %}{% endblock %}

{% block page_heading %}{% if heading %}{{ heading }}{% else %}Mechanism Converter{% endif %}{% endblock %}


{% block extrahead %}<link rel="stylesheet" href="/visualizer/media/visualizer.css" type="text/css">{% endblock %}

{% block navbar_items %}<li><a href="{% url visualizer.views.mechanisms_list %}">Mechanism Converter</a> &raquo;</li>{% endblock %}

{% block page_body %}
<p>
{% if message_safe %}
{{ message|safe }}
{% else %}
{{ message }}
{% endif %}
</p>
{% endblock %}
