{% extends "rmg_base.html" %}

{% block title %}{{ mechanism.name }}{% endblock %}
{% block page_heading %}{{ mechanism.name }}{% endblock %}

{% block extrahead %}<link rel="stylesheet" href="/visualizer/media/visualizer.css" type="text/css">{% endblock %}

{% block navbar_items %}<li><a href="{% url visualizer.views.mechanisms_list %}">Converter</a> &raquo;</li>
<li><a href="{% url visualizer.views.mechanism mechanism_id=mechanism.id %}">{{ mechanism.name }}</a> &raquo;</li>{% endblock %}

{% block page_body %}
<h3>Chemkin and Dictionary files:</h3>
{% if mechanism.chemkin_file and mechanism.dictionary_file %}
<li><a href="{{ mechanism.chemkin_file.url }}"> {{ mechanism.chemkin_file.name  }}</a> ({{ mechanism.chemkin_file.size|filesizeformat }})
<li><a href="{{ mechanism.dictionary_file.url }}"> {{ mechanism.dictionary_file.name  }}</a> ({{ mechanism.dictionary_file.size|filesizeformat }})
{% else %}
<form enctype="multipart/form-data" method="post" action="{% url visualizer.views.upload  mechanism_id=mechanism.id %}">
<table>
{{ form.as_table }}
</table>
<input type="submit">
{% endif %}

<h3>Cantera file:</h3>
{% if mechanism.cantera_file %}
<a href="{{ mechanism.cantera_file.url }}"> {{ mechanism.cantera_file.name  }}</a> ({{ mechanism.cantera_file.size|filesizeformat }})
{% else %}
<a href="{% url visualizer.views.ck2cti mechanism_id=mechanism.id %}">Convert Chemkin to Cantera</a>
{% endif %}

{% endblock %}
