{% extends "rmg_base.html" %}

{% block title %}Kinetics: {{ family.name }}{% endblock %}
{% block page_heading %}<a href="{% url kinetics.views.index %}">
Kinetics</a>: {{ family.name }}{% endblock %}

{% block page_body %}

<h2>
{{ family.reaction }}
</h2>
{% if family.reverse %}
Reverse name: {{ family.reverse }}
{% endif %}

<p>
Actions:
<pre>{{ family.actions }}</pre>
</p>

{% block above_table %}
<a href="{% url kinetics.views.comments family_name=family.name %}">View entire comments file.</a>
{% endblock %}

{% block table_heading %}<h2>Rates:</h2>{% endblock %}
{% include 'table.html' %}

{% block below_table %}{% endblock %}

{% block comments %}
<h2>These lines in rateLibrary.txt were not interpreted as rates:</h2>
<div style="width:80%; overflow: auto; background-color: #eee;">
<pre>
{{ family.unread }}
</pre>
</div>
{% endblock %}

{% endblock %}