{% extends "family.html" %}

{% block title %}Kinetics: {{ family.name }}: {{ rate.id }}{% endblock %}
{% block page_heading %}
<a href="{% url kinetics.views.index %}">Kinetics</a>: 
<a href="{% url kinetics.views.family family_name=family.name %}">{{ family.name }}</a>:
 {{ rate.id }}{% endblock %}

{% block above_table %}{% endblock %}
{% load markup %}
{% block comments %}

{% if comment %}
<h3>Comments for rate {{ rate.id }}:</h3>
<div style='background-color: #fee;'>
{{ comment|restructuredtext }}
</div>
Comments formatted using 
<a href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">reStructuredText</a> 
. 
<a href="javascript:;" onmousedown="if(document.getElementById('commentsource').style.display == 'none'){ document.getElementById('commentsource').style.display = 'block'; }else{ document.getElementById('commentsource').style.display = 'none'; }">
View source.</a>
<div id='commentsource' style="width:80%; overflow: auto; background-color: #eee; display: none">
<pre>
{{ comment }}
</pre>
</div>
{% endif %}

{% if general_comment %}
<h3>General comments for {{ family.name }} family: </h3>
{{ general_comment|restructuredtext }}
{% endif %}
{% endblock %}