{% extends "family.html" %}
{% load markup %}

{% block title %}Kinetics: {{ family.name }}: {{ rate.id }}{% endblock %}

{% block page_heading %}
<a href="{% url kinetics.views.family family_name=family.name %}">{{ family.name }}</a> rate
 {{ rate.id }}{% endblock %}

{% block reaction_definition %}
<h3>Reaction family definition:</h3>
<div class="rxn_definition">{{ family.reaction }}</div>

{% if family.reverse %}
<p>Reverse name: {{ family.reverse }}</p>
{% endif %}
{% endblock %}


{% block above_table %}{% endblock %}

{% block table_heading %}<h2>This rate:</h2>{% endblock %}

{% block below_table %}
<h3>Group definitions:</h3>
<table class="groups">
  <tr>
      {% for group in groups %}
      <th> {{ group.name }} </th>
      {% endfor %}
      </tr>
     <tr>
      
    {% for group in groups %}
    <td>
        Ancestors in tree:
        <div class="tree_node" style="margin-left: 0em;">
        {% for ancestor in group.ancestors %}
            {{ ancestor }} 
            </div>
            <div class="tree_node" style="margin-left: {{ forloop.counter }}em;">
        {% endfor %}
    <span class="main_group">{{ group.name }}</span>
    </div>
    </td>
    {% endfor %}
  </tr>
  <tr>{% for group in groups %}
    <td class="group_definition">
    Group definition:
    <pre>{{ group.definition }}</pre>
    </div>
    </td>
    {% endfor %}
  </tr>
</table>
{% endblock %}


{% block comments %}
{% if comment %}
<h3>Comments for rate {{ rate.id }}:</h3>
<div class="comments">
{{ comment|restructuredtext }}
</div>

<span class="aside">Comments formatted using 
<a href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">reStructuredText</a> 
. 
<a href="javascript:;" onmousedown="if(document.getElementById('commentsource').style.display == 'none'){ document.getElementById('commentsource').style.display = 'block'; }else{ document.getElementById('commentsource').style.display = 'none'; }">
View source.</a></span>
<div id='commentsource' style="display: none">
<pre>
{{ comment }}
</pre>
</div>
{% endif %}

{% if general_comment %}
<h3>General comments for {{ family.name }} family: </h3>
<div class="comments">
{{ general_comment|restructuredtext }}
</div>
{% endif %}
{% endblock %}