{% extends "kinetics/base.html" %}

{% block title %}Kinetics: {{ family.name }}{% endblock %}
{% block page_heading %}<a href="{% url kinetics.views.index %}">
Kinetics</a>: {{ family.name }}{% endblock %}

{% block page_body %}

<h2>
{{ family.reaction }}
</h2>
Reverse name: {{ family.reverse }}

<p>
Actions:
<pre>{{ family.actions }}</pre>
</p>

<h2>Rates:</h2>

{% include 'kinetics/table.html' %}


{% block comments %}
<h2>Couldn't read these lines from rateLibrary.txt:</h2>
<div style="width:80%; overflow: auto; background-color: #eee;">
<pre>
{{ family.unread }}
</pre>
</div>
{% endblock %}

{% endblock %}