{% extends "rmg_base.html" %}

{% block title %}{{ mechanism.name }}{% endblock %}
{% block page_heading %}{{ mechanism.name }}{% endblock %}

{% block extrahead %}<link rel="stylesheet" href="/converter/media/converter.css" type="text/css">{% endblock %}

{% block navbar_items %}<li><a href="{% url converter.views.index %}">Converter</a> &raquo;</li>
<li><a href="{% url converter.views.mechanism mechanism_id=mechanism.id %}">{{ mechanism.name }}</a> &raquo;</li>{% endblock %}

{% block page_body %}
<h3>Chemkin file:</h3>
<a href="{{ mechanism.chemkin_file.url }}"> {{ mechanism.chemkin_file.name  }}</a> ({{ mechanism.chemkin_file.size|filesizeformat }})


<h3>Cantera file:</h3>
{% if mechanism.cantera_file %}
<a href="{{ mechanism.cantera_file.url }}"> {{ mechanism.cantera_file.name  }}</a> ({{ mechanism.cantera_file.size|filesizeformat }})
{% else %}
<a href="{% url converter.views.ck2cti mechanism_id=mechanism.id %}">Convert Chemkin to Cantera</a>
{% endif %}

{% endblock %}
